{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Malik Olabiyi">
    <meta name="description" content="This is a free and minimal online tool that helps users to spell words. It is human-friendly, and very easy to use.">
    <meta name="keywords" content="word speller, spell words">

    <title>Word Speller</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <link href="{% static 'css\main.css' %}"  rel="stylesheet">

</head>
<body>
    <header>
        <h1>Word Speller.</h1>
        <h3 class="tagline">Spelling made easy...</h3>
    </header>
    <main>
        <div>
            <p>This is a free and minimal online tool that helps users to spell words. It is human-friendly, and very easy to use.</p>
            <p>It is hassle-free, all you need to do is to enter a word you want to spell and hit the "SPELL" button.</p>
        </div>
        <form action="spell" method="POST">
            {% csrf_token %}
            <input type="text" name="word" placeholder="Enter a word">
            <input type="submit" value="SPELL">
        </form>

    </main>
    <footer>
        <h3>A project by <a href="https://malikolabiyi.com">Malik Olabiyi</a>.</h3>
    </footer>
</body>
</html>